
body{
    font-family: 'Oswald',sans-serif;
    background-color : #202124;
    height : 80vh;
}

#top-nav{
    display : flex; 
    justify-content : flex-end;
    width : 100%;
    align-items : center;
    margin : 0;}

header {
    background-color: #202124;
    color: white;
    height : 70px;
    padding : 10px 0;
}

header nav{
    float : right;
}

 nav ul {
    margin : 0;
    padding : 0;
    text-align : center;
}

header a{
    font-size : 12px;
    font-weight : 80;
    cursor : pointer;
    padding : 10px 20px ;
    color : white;
}

nav ul li{
    float : left;
    display : inline;
    padding-right : 5px;

}

#search-form{
    display : flex;
    justify-content : center;
    flex-direction : column;
    align-items : center;
    width : 100%;
    margin : 0;
    height:100%}

 #search-input{
    display : flex;
    flex-direction: column;
    width : 50%;
    text-align : left;
    font-size : 20px;
    background: #202124;
}
    
  .search-button {
    display : flex;
    flex-direction: column;
    width : 150px;
    font-size : 20px;
    border-radius : 5px; 
    cursor : pointer;
    align-self: center;
}
        
.search-bar{
    min-width: 167px;
    min-height: 25px;
    display : inline-block;
    width : 65%;
    text-align : left;
    font-size : 20px;
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
    vertical-align : middle;
}


    .split-search-bar{
        min-width: 167px;
        min-height: 25px;
        display : inline-block;
        width : 32%;
        text-align : left;
        font-size : 20px;
        background: #202124;
        border: 1px solid #5f6368;
        color: #bdc1c6;
        vertical-align : middle;
    }
        
  

.form-container h3{
    color : white;
    font-size : 13px;
}


.form-container {
    background-color: #202124;
    border-radius: 25px;
    padding: 10px 15px;

}

.table{
    display: grid;
    grid-template-columns: auto 2fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.form-container label {
    margin-right : 20px;
    margin-bottom: 5px;
    margin-left : 20;
    color : #bdc1c6;
    font-size : 11px;
}

.table label {
    margin-right : 20px;
    margin-bottom: 5px;
    margin-left : 20;
    color : #bdc1c6;
    font-size : 11px;
}

span{
    color : #bdc1c6;
     font-size : 11px;
}

.advanced-search-button{
    margin-left : 0 auto;
    height : 30px;
/*     min-width : 120px; */
    background-color: #8ab4f8;
    border-color : #8ab4f8;
    color : #202124;
    border-radius : 2px;
    border : #3079ed;
    cursor : default;
    font-size :11px;
    text-align : center;
    font-weight : bold;
    float : right;
    }

    .advanced-search-button : hover {
      background-color : #aecbfa;
    }
    




>>>>>>> a99f760506f458cc5656cc8dfc1624479e9a9cf8
